/* TEXT */
h1{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
      font-size: 100px;
    line-height: 0px;
    font-weight: bold !important;
}
h2 {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-size: 110px;
    font-weight: bold !important;
    text-shadow: 0 0 100px black;
}
h3 { 
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-size: 40px;
    margin: 30px 0;
    font-weight: bold !important;
}
h4 {
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    margin: 15px 0;
    font-weight: bold !important;
  }
form h4 {
    margin: 0px;
}
h5 {
    font-family: 'DM Serif Display', serif;
    font-size: 17px;
    margin: 10px 0 !important;
    font-weight: bold !important;
}
h6 {
    display: none;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: justify;
    font-weight: 600;
    line-height: normal;
}
a {
    text-decoration: none;
    color: #fff;
}


/* TOPNAV */

#topnav {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
}
.topnav {
    overflow: hidden;
    background-color: #fff;
    border-top: 5px solid black;
    border-bottom: 5px solid black;    
    width: 100%;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
}
.topnav a {
    float: left;
    display: block;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-family: 'DM Serif Display', serif;
}
.topnav a:hover {
    transition-duration: 0.5s;
    background-color: black;
    color: #fff;
}
.topnav .right {
    float: right;
}
.topnav #name {
    padding: 6px 8px;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    font-family: 'DM Serif Display', serif;
}
.topnav .mobile {
    display: none;
    float: right;
}


/* LAYOUT */

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    color: black;
    position: relative;
}

.content {
    padding: 20px;
    width: 100%;
}
.content:after {
    content: "";
    display: table;
    clear: both;
}

.leftcolumn {
    float: left;
    width: 75%;
}
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border: none;
    border-radius: 0;
    display: inline-block;
    width: 100%;
}

.footer {
    padding: 20px;
    text-align: center;
    background: black;
}

.hidden {
    visibility: hidden;
}
/*
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 20px;
} */

/* HERO IMAGE */

.heroimage {
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: 0 50px;
    background-repeat: no-repeat;
    background-size: contain;
}
.heroimage h3, .heroimage h4, .heroimage h5 {
    margin: 5px 0;
}
.toptext {
    color: #fff;
    width: 25%;
    z-index: 2;
    position: absolute;
    bottom: 50px;
    left: 80px;
}
.toptext h3{
    text-shadow: 0 0 60px black;
}
.toptext p, .toptext h5 {
    text-shadow: 0 0 60px black;
}
.middletext {
    color: #fff;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.playbox {
    width: 100%;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 0;
}
.play {
    color: #fff;
    border: solid 3px;
    z-index: 2;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
}
.play:hover {
    background-color: black;
    transition-duration: 0.7s;
}
.play h3 {
    margin: 15px;
    line-height: 40px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.backbox {
    position: absolute;
    top: 25px;
    left: 25px;
}
.closebox {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    padding: 20px;
}
.filmnamebox {
    position: absolute;
    top: 20px;
    right: 50%;
    transform: translateX(50%);
    display: none;
}
.filmnamebox h4 {
    margin: 0;
}
.closebox h3 {
    font-size: 40px !important;
    line-height: 40px !important;
}
.back {
    color: #fff;
    z-index: 2;
    width: fit-content;
    margin: auto;
    cursor: pointer;
}
.back h3 {
    font-family: 'Noto Sans Symbols 2', sans-serif;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bottombasecontainer {
    width: 100%;
    position: absolute;
    bottom: 5px;
}
.bottombase {
    color: #fff;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bottombase p {
    margin: 0;
}
.downArrow {
    transform: rotate(-90deg);
    font-family: 'Noto Sans Symbols 2', sans-serif;
    font-size: 30px;
    line-height: 25px;
    font-weight: 100;
    margin: 0;
}

/* CAROUSELL */

.displayer {
    width: 100%;
}

.carousel {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
    display: flex;
    overflow: hidden;
}

.arrow {
    font-size: 35px;
    text-align: left;
    font-family: 'Noto Sans Symbols 2', sans-serif;
    position: absolute;
    padding: 15px;
    height: 100%;
    cursor: pointer;
    background: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 7;
}
.arrow:hover {
    background: rgba(0,0,0,0.4);
    color: #fff;
    transition-duration: 0.4s;
}
.leftArrow {
    left: 10px;
    transform: rotate(180deg);
}
.rightArrow {
    right: 10px;
}
.carousel .playIcon {
    padding: 10px 23px !important;
}
.carousel .synopsis {
    height: 100% !important;
}


/* ALL FILMS */

#search {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0 30px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
#sorry {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    width: 100%;
}

#films {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: #fff;
    overflow: hidden;
}

.box {
    width: 33.33%;
    float: left;
    padding: 0 10px;
    cursor: pointer;
}
#films .box {
    margin: 0 0 30px 0;
}

.hold {
    position: relative;
}
.hold a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-basis: content;
}
.hold img {
    width: 100%;
    height: auto;
}

.synopsis {
    height: calc(100% - 4px);
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    position: absolute;
    top: 0;
    opacity: 0;
    transition-duration: 0.5s;
}
.synopsis h4 {
    margin: 5px;
}

.playIcon {
    font-size: 35px;
    padding: 10px 17px;
    text-align: center;
    border: solid 3px;
    border-radius: 50%;
    color: #fff;
    z-index: 2;
    width: fit-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
}
.playIcon:hover {
    background-color: black;
    transition-duration: 0.7s;
}

.title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}
.title p {
    margin-bottom: 0;
}

.hold:hover > .synopsis  {
    opacity: 1;
}


/* MEDIA */

img {
    width: 100%;
}
video {
    width: 100%;
    max-height: 100vh;
    display: none;
    top: 50%;
}
.video {
    background-color: black;
    position: relative;
    overflow: hidden;
}
.posterframe {
    height: 100vh;
    width: auto;
    text-align: center;
    position: relative;
}
.posterframe img {
    height: 100vh;
    width: auto;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* CONTROLS */
#thingymagigs {
    display: block;
}

#controls {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0px;
    font-family: 'Noto Sans Symbols 2', sans-serif;
    color: #fff;
    display: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.5s;
    animation-name: animatebottom;
    animation-duration: 0.5s
}

svg {
    width: 100%;
    height: 22px;
    fill: #fff;
}
.fill {
    transform: translate(6, 6) rotate(90deg);
}
.panel {
    margin: 0;
    padding: 0;
    font-size: 30px;
    display: flex;
    background-color: rgba(38,38,38,0.6);
}
.segment {
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
    width: 60px;
    height: 50px;
    border-right: 5px solid #fff;
    position: relative;
    display: flex;
    transition-duration: 0.5s;
}
.segment:hover {
    background-color: #262626;
    transition-duration: 0.5s;
}
.first {
    border-left: 5px solid #fff;
    width: 65px;
}
.controlBtn {
    width: 40px;
    position: relative;
    left: 0;
    float: left;
    text-align: center;
}


/* Slider */
.sliderBox {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
}
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
}

/* Volume */
#volumeSliderContainer {
    transition-duration: 0.5s;
}
#volumeSlider {
    height: 5px;
}

/* Time */
.timePannel {
    cursor: auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
}
.timePannel:hover {
    background-color: transparent;
}

.timeContainer {
    width: 160px;
    white-space: nowrap;
    margin-right: 10px;
}
time, .slash {
    letter-spacing: 0;
    font-size: 15px;
    display: inline;
}

#videoSlider {
    background: #fff;
    background-image: linear-gradient(#262626, #262626);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    height: 7px;
}

#videoSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    background: #262626;
    transition-duration: 0.2s;
}
#videoSlider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    background: #262626;
    transition-duration: 0.2s;
}
#videoSlider::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    background: #262626;
    transition-duration: 0.2s;
}
#videoSliderContainer:hover > #videoSlider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    transition-duration: 0.2s;
}
#videoSliderContainer:hover > #videoSlider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    transition-duration: 0.2s;
}
#videoSliderContainer:hover > #videoSlider::-ms-thumb {
    width: 15px;
    height: 15px;
    transition-duration: 0.2s;
}


/* BUTTONS */

.button {
    background-color: black;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin: 10px 0;
    padding: 15px 12px;
    display: inline-block;
    /* border: 5px solid black; */
    border: none;
    cursor: pointer;
}
.button:hover {
    transition-duration: 0.4s;
    background-color: #ccc;
    color: black;
}


/* LOGIN */

.container input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

input[type=submit] {
    background-color: black;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin: 10px 0;
    padding: 15px 12px;
    display: inline-block;
    /* border: 5px solid black; */
    border: none;
    cursor: pointer;
}
input[type=submit]:hover {
    transition-duration: 0.4s;
    background-color: #ccc;
    color: black;
}

.container {
    position: relative;
    width: 80%;
    margin: auto;
    border: 3px solid #ccc;
    padding: 16px;
    background-color: #fff;
}
.modal .container {
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.close {
    color: #ccc;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    animation-name: spin;
    animation-duration: 1s;
}
.signinSignupToggle {
    color: #ccc;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    margin: 15px 0 10px 0;
}
.signinSignupToggle:hover,
.signinSignupToggle:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.swipeup {
    padding: 0px;
    width: 100%;
    position: relative;
    top: 100vh;
    background-color: #fff;
    border-top: 5px solid #fff;
}
.swipeup .card {
    margin: 0;
    padding-top: 0;
    padding-bottom: 30px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
.swipeup .black {
    border-top: 5px solid #fff;
    background-color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    animation-name: fade;
    animation-duration: 0.4s;
}
.modalopen {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1;
    background-color: #fff;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px 10px;
    border: 5px solid black;
    cursor: pointer;
}
.modalopen:hover {
    background-color: black;
    color: #fff;
    transition-duration: 0.4s;
}

.loader {
    border: 10px solid #333;
    border-top: 10px solid #f1f1f1;
    border-radius: 50%;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -76px 0 0 -76px;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: -5;
}

.parallax1 {
    background-image: url("misc/Walking.png");
    height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    background-image: url("images/extraWide/allFilms.jpg");
    height: 500px;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#loginVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
    display: block;
}


/* ANIMATIONS */

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

@-webkit-keyframes slideFromRight {
    from { left:100% } 
    to { left:0 }
}
@keyframes slideFromRight { 
    from{ left:100% } 
    to{ left:0 }
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes animatetop {
from {top: -300px;}
to {top: 0;}
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 100%}
}


/* QUITE SMALL SCREENS */

@media screen and (max-width: 1200px) {
    .leftcolumn {
        width: 60%;
    }
    .rightcolumn {
        width: 40%;
    }
    .carousel h4 {
        font-size: 17px;
    }
    .box {
        width: 50%;
    }
    .box.three {
        display: none !important;
    }
    #smallimg {
        display: block;
    }
    #wideimg {
        display: none;
    }
    .arrow {
        padding: 10;
    }
    .three {
        display: none !important;
    }
    .toptext {
        margin: 10px;
        left: 5px;
        bottom: 5px;
    }
}

/* SMALL SCREEN */

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
    #smallimg {
        display: none;
    }
    .wideImg {
        display: none;
    }
    .unTitledImg {
        display: block;
    }
    span.psw {
        display: block;
        float: none;
    }
    .heroimage p {
        display: none;
    }
    .three {
        display: block !important;
    }
    .heroimage .wideImg {
        display: none;
    }
    .heroimage .unTitledImg {
        display: block !important;
    }
    h2 {
        font-size: 100px;
    }
}

/* MOBILE */

@media screen and (max-width: 768px) {
    .topnav a {
        display: none;
    }
    .topnav .mobile {
        display: block !important;
    }
    .topnav.drop .mobile {
        position: absolute;
        top: 0 !important;
        right: 0 !important;
        text-align: right;
        display: block;
    }
    .topnav.drop {
        position: sticky;
        top: 0;
    }
    .topnav.drop a:not(.mobile) {
        display: block;
        width: 100%;
        text-align: center;
    }
    .topnav #name {
        display: block;
        float: left;
    }
    .topnav.drop #name {
        display: none !important;
    }
    .toptext {
        margin: 5px;
        left: 5px;
        bottom: 5px;
        width: 40%;
    }
    h2 {
        font-size: 80px;
    }
    .heroimage .playbox {
        display: none;
    }
    .playIcon {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .bottombase {
        display: none;
    }
    .toptext {
        min-width: 100%;
        max-width: 100%;
        margin: 10px;
        text-align: center;
        left: 0;
    }
    .toptext h3, .toptext h4 {
        margin: 0;
    }
    .box {
        width: 100%;
        margin-bottom: 15px;
    }
    .arrow {
        display: none;
    }
    .box.three {
        display: block;
    }
    h2 {
        font-size: 60px;
    }
    .playIcon {
        display: block;
    }
}
